<!DOCTYPE html>
<html lang="en">

<head>
    <!--아직 완성 상태가 아니어서 python으로 실행이 안될텐데 기존에 가지고 계시는 다른코드에서 실험 후에 작성하시면 될거 같아요-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>프로필 페이지</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
        rel="stylesheet" />
    <style>
        * {
            font-family: "Noto Serif KR", serif;
        }

        .contents {
            width: 90%
        }
    </style>
    <script>
        $(document).ready(function () {
            get_profile()
        });


        function save_profile() {

        }

        function get_profile() {

        }

        function update_profile() {

        }

        function delete_profile() {

        }



    </script>
</head>

<body>
    <div clss="title">
        <h1>프로필 페이지</h1>
    </div>
    <div class="Input">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="form">
                            <input class="form-control form-control-sm" type="text" placeholder="이름"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" placeholder="나이"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" placeholder="취미"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" placeholder="MBTI"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" placeholder="목표"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" placeholder="좋아하는 음식"
                                aria-label=".form-control-sm example">
                            <button type="button" class="btn btn-outline-dark">만들기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contents">
        <div class="profiles">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">1. 철수의 프로필</h5>
                            <p class="card-text">나이: </p>
                            <p class="card-text">취미: </p>
                            <p class="card-text">MBTI: </p>
                            <p class="card-text">목표: </p>
                            <p class="card-text">좋아하는 음식: </p>
                            <button type="button" class="btn btn-outline-dark">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">1. 철수의 프로필</h5>
                            <p class="card-text">나이: </p>
                            <p class="card-text">취미: </p>
                            <p class="card-text">MBTI: </p>
                            <p class="card-text">목표: </p>
                            <p class="card-text">좋아하는 음식: </p>
                            <button type="button" class="btn btn-outline-dark">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">1. 철수의 프로필</h5>
                            <p class="card-text">나이: </p>
                            <p class="card-text">취미: </p>
                            <p class="card-text">MBTI: </p>
                            <p class="card-text">목표: </p>
                            <p class="card-text">좋아하는 음식: </p>
                            <button type="button" class="btn btn-outline-dark">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">1. 철수의 프로필</h5>
                            <p class="card-text">나이: </p>
                            <p class="card-text">취미: </p>
                            <p class="card-text">MBTI: </p>
                            <p class="card-text">목표: </p>
                            <p class="card-text">좋아하는 음식: </p>
                            <button type="button" class="btn btn-outline-dark">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">1. 철수의 프로필</h5>
                            <p class="card-text">나이: </p>
                            <p class="card-text">취미: </p>
                            <p class="card-text">MBTI: </p>
                            <p class="card-text">목표: </p>
                            <p class="card-text">좋아하는 음식: </p>
                            <button type="button" class="btn btn-outline-dark">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>