<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>프로필 페이지</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
        rel="stylesheet" />
    <style>
        * {
            font-family: "Noto Serif KR", serif;
        }

        .contents {
            width: 90%
        }
    </style>
    <script>
        $(document).ready(function () {
            get_profile()
        });


        function save_profile() {
            let name = $("#name").val();
            let age = $("#age").val();
            let hobby = $('#hobby').val();
            let mbti = $('#mbti').val();
            let goal = $('#goal').val();
            let food = $('#food').val();

            let formData = new FormData();

            formData.append("name_give", name);
            formData.append("age_give", age);
            formData.append("hobby_give", hobby);
            formData.append("mbti_give", mbti);
            formData.append("goal_give", goal);
            formData.append("food_give", food);

            fetch('/profile', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                alert(data["msg"]);
                window.location.reload();
            });
        }

        function get_profile() {
            fetch('/profile').then((res) => res.json()).then((data) => {
                let rows = data['result']
                $('#profile-list').empty()
                rows.forEach((a) => {
                    let name = a['name']
                    let age = a['age']
                    let hobby = a['hobby']
                    let mbti = a['mbti']
                    let goal = a['goal']
                    let food = a['food']
                    let number = a['number']
                    let done = a['done']

                    let temp_html = ``
                    if (done == 0) {
                        temp_html = `<div class="col">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">${number}. ${name}의 프로필</h5>
                                                <p class="card-text">나이: ${age}</p>
                                                <p class="card-text">취미: ${hobby}</p>
                                                <p class="card-text">MBTI: ${mbti}</p>
                                                <p class="card-text">목표: ${goal}</p>
                                                <p class="card-text">좋아하는 음식: ${food}</p>
                                                <button type="button" class="btn btn-outline-dark">수정</button>
                                                <button onclick="delete_profile(${number})" type="button" class="btn btn-outline-dark">삭제</button>
                                            </div>
                                        </div>
                                    </div>`}
                    else {
                        temp_html = ``
                    }
                    $("#profile-list").append(temp_html)
                })
            })
        }

        function update_profile() {

        }

        function delete_profile(number) {
            let formData = new FormData();
            formData.append("profile_delete", number);

            fetch('/profile/delete', { method: "DELETE", body: formData, }).then((response) => response.json()).then((data) => {
                alert(data["msg"]);
                window.location.reload();
            });
        }



    </script>
</head>

<body>
    <div clss="title">
        <h1>프로필 페이지</h1>
    </div>
    <div class="Input">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="form">
                            <input class="form-control form-control-sm" type="text" id="name" placeholder="이름"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" id="age" placeholder="나이"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" id="hobby" placeholder="취미"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" id="mbti" placeholder="MBTI"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" id="goal" placeholder="목표"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" id="food" placeholder="좋아하는 음식"
                                aria-label=".form-control-sm example">
                            <button onclick="save_profile()" type="button" class="btn btn-outline-dark">만들기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contents">
        <div class="profiles">
            <div class="row row-cols-1 row-cols-md-2 g-4" id ="profile-list">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">1. 철수의 프로필</h5>
                            <p class="card-text">나이: </p>
                            <p class="card-text">취미: </p>
                            <p class="card-text">MBTI: </p>
                            <p class="card-text">목표: </p>
                            <p class="card-text">좋아하는 음식: </p>
                            <button type="button" class="btn btn-outline-dark">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">1. 철수의 프로필</h5>
                            <p class="card-text">나이: </p>
                            <p class="card-text">취미: </p>
                            <p class="card-text">MBTI: </p>
                            <p class="card-text">목표: </p>
                            <p class="card-text">좋아하는 음식: </p>
                            <button type="button" class="btn btn-outline-dark">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">1. 철수의 프로필</h5>
                            <p class="card-text">나이: </p>
                            <p class="card-text">취미: </p>
                            <p class="card-text">MBTI: </p>
                            <p class="card-text">목표: </p>
                            <p class="card-text">좋아하는 음식: </p>
                            <button type="button" class="btn btn-outline-dark">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">1. 철수의 프로필</h5>
                            <p class="card-text">나이: </p>
                            <p class="card-text">취미: </p>
                            <p class="card-text">MBTI: </p>
                            <p class="card-text">목표: </p>
                            <p class="card-text">좋아하는 음식: </p>
                            <button type="button" class="btn btn-outline-dark">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">1. 철수의 프로필</h5>
                            <p class="card-text">나이: </p>
                            <p class="card-text">취미: </p>
                            <p class="card-text">MBTI: </p>
                            <p class="card-text">목표: </p>
                            <p class="card-text">좋아하는 음식: </p>
                            <button type="button" class="btn btn-outline-dark">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>