<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
    function change_profile() {
        let name = $("#name").val();
        let age = $("#age").val();
        let hobby = $('#hobby').val();
        let mbti = $('#mbti').val();
        let goal = $('#goal').val();
        let food = $('#food').val();

        formData.append("number_give", number);
        formData.append("name_give", name);
        formData.append("age_give", age);
        formData.append("hobby_give", hobby);
        formData.append("mbti_give", mbti);
        formData.append("goal_give", goal);
        formData.append("food_give", food);

        fetch('/profile/update', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
            alert(data["msg"]);
            window.location.reload();
        });
    }

    function go_back() {
        window.history.back();
        alert("수정을 취소합니다!")
    }   
</script>
<body>
    <div class="Input">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="form">
                            <input class="form-control form-control-sm" type="text" id="name" placeholder="이름"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" id="age" placeholder="나이"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" id="hobby" placeholder="취미"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" id="mbti" placeholder="MBTI"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" id="goal" placeholder="목표"
                                aria-label=".form-control-sm example">
                            <input class="form-control form-control-sm" type="text" id="food" placeholder="좋아하는 음식"
                                aria-label=".form-control-sm example"><br>
                            <button onclick="change_profile()" type="button" class="btn btn-outline-dark">수정</button>
                            <button onclick="go_back()" type="button" class="btn btn-outline-dark">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>